body {
  font-family: 'segoe ui', arial, sans-serif;
  font-weight: 300;
  background-image: url(background.jpg);
  background-attachment: fixed;
  border-color: grey;
  border-spacing: 10px;
  border-width: 10px;
  border-style: solid;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: red;
	font-weight: 1000;
	text-shadow: 1px 1px 1px grey;
	/*comment test*/
}
h4 {
	color: green;
}
#summary {
	color: orange;
}
.unicorns {
	color: purple;
}
img {
	width: 200px;
	border-color: black;
  	border-width: 1px;
  	border-style: solid;
}
